 prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*Base classes*/
.container {
	max-width: 1170px;
	width:100%;
	margin:0 auto;
}
.bg-gradient {
	width: 500px;
	height: 300px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d9c89f+0,bea766+100 */
	background: #d9c89f; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #d9c89f 0%, #bea766 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #d9c89f 0%,#bea766 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #d9c89f 0%,#bea766 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9c89f', endColorstr='#bea766',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.bg-gradient2 {
	width: 500px;
	height: 300px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(yellow), to(pink));
	background-image: -o-linear-gradient(blue, yellow, pink);
	background-image: linear-gradient(blue, yellow, pink);
}
/*Blue-section*/
.blue-bg{
	background-color: blue;
	padding: 30px 0;
}
.video-wraper {
	background-color: #fff;
	max-width:570px;
	width: 100%;
	height: 320px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.video-wraper iframe {
    width: 100%;
    height: 100%;
} 
.video-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}
.video-text {
	font-size: 48px;
}

/*Grey-bg*/
.grey-bg {
	background-color: grey;
	padding: 33px 0 90px 0;
}
.section-title {
	text-transform: uppercase;
	margin-bottom: 30px;
}
.section-title a {
	text-transform: lowercase;
}
.img-box {
	width: 270px;
}
.img-box img {
	width: 100%;
}
.image-wraper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/*.img-box {
	margin-right: 30px;
}
.img-box:last-child {
	margin-right: 0;
}*/

/*Light-grey section*/
.light-grey {
	background-color: #E6E6E6;
	padding: 30px 0;
}
.featured-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.box-wraper {
	max-width: 570px;
	width: 100%;
	background-color: #F2F2F2;
	padding: 13px;
}
.mshobeli {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top:15px;
}
.mshobeli p {
	max-width: 355px;
	width: 100%;
}
.read {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.box-wraper {
	position: relative;
}
.read-absolute {
	position: absolute;
	bottom: 13px;
	right: 13px;
}

/*Icons*/
.icons-section{
	padding: 30px 0;
}
.social-fb {
	font-size: 30px;
	color: yellow;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.social-fb:hover {
	color: blue;
}
.social-ins {
	font-size: 30px;
	color: pink;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.social-ins:hover {
	color: black;
}
.social-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.icon-logo1:before {
   color: red;
   font-size: 30px;
   -webkit-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
}
.social-icons:hover .icon-logo1:before {
	color: yellow;
}


/*form*/
.form-wraper {
 	max-width:600px;
 	width:100%;
 	margin: 0 auto;
}
/*input {
	width: 100%;
}*/
/*.form-group {
	display: flex;
	flex-direction: column;
}*/
input[type=text] {
	width: 100%;
}
input[type=password] {
	width: 100%;
}
/*Responsive